{% extends "_Blog/dashboard/dashboard_layout.html" %}


{% block body %}

<h1 class="text-5xl text-center mt-5 font-extrabold dark:text-white">All the notification</h1>
<div class='m-12 space-y-6'>   
    {% for notification in notifications %}
    <div class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
    <div class="flex-shrink-0">
        <svg aria-hidden="true" class="rounded-full w-11 h-11" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    </div>
    <div class="w-full pl-3">
        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">{{notification.title}}</span> <br>{{notification.content}}</div>
        <div class="text-xs text-blue-600 dark:text-blue-500">{{notification.date}}</div>
    </div>
    </div>
    {% empty %}
    <div class="flex p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">Hey! </span> No notification is there.
        </div>
      </div>
    {% endfor %}
</div>


{% endblock %}