<!-- suneditor -->
<link href="/static/blog/style/sun/suneditor.min.css" rel="stylesheet">
<!-- codeMirror -->
<link rel="stylesheet" href="/static/blog/style/sun/codemirror.min.css">
<!-- KaTeX -->
<link rel="stylesheet" href="/static/blog/style/sun/katex.min.css">
<!--Suneditor custom-->
<link rel="stylesheet" href="/static/blog/style/sun/suneditor_custom.css">



<!-- suneditor -->
<script src="/static/blog/script/sun/suneditor.min.js"></script>
<!-- codeMirror -->
<script src="/static/blog/script/sun/codemirror.min.js"></script>
<script src="/static/blog/script/sun/htmlmixed.js"></script>
<script src="/static/blog/script/sun/xml.js"></script>
<script src="/static/blog/script/sun/css.js"></script>
<!-- KaTeX -->
<script src="/static/blog/script/sun/katex.min.js"></script>
