asgiref==3.6.0
Django==4.1.4
django-js-asset==2.0.0
django-mptt==0.14.0
django-taggit==3.1.0
Pillow==9.3.0
sqlparse==0.4.3
tzdata==2022.7
asgiref==3.6.0
beautifulsoup4==4.11.2
better-profanity==0.7.0
cssselect==1.2.0
Django==4.1.4
django-js-asset==2.0.0
django-mptt==0.14.0
django-taggit==3.1.0
lxml==4.9.2
markdown2==2.4.8
Pillow==9.3.0
pyquery==2.0.0
readtime==2.0.0
soupsieve==2.4
sqlparse==0.4.3
tzdata==2022.7
