{% extends "_Blog/dashboard/dashboard_layout.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block description %} This is DecSecBBS is the only blog the on the earth about technology {% endblock %}

{% block body %}

<section class="bg-white dark:bg-gray-800 p-4">

    <form class="space-y-4 md:space-y-6" action="{% url 'Blog:change_password' %}" method="POST">
        {% csrf_token %}
        
        <div>
            <label for="old-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old password</label>
            <input type="password" name="old-password" id="old-password" placeholder="••••••••••••••••" class="rounded-l-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
        </div>
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New password</label>
            <input type="password" name="password" id="password" placeholder="••••••••••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
            <p class="flex items-center text-sm text-gray-500 dark:text-gray-400">Password rules (HarDP@44wor!) <button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button"><svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg><span class="sr-only">Show rules</span></button></p>
            <div data-popover id="popover-description" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                <ul class="max-w-md space-y-1 p-2 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li>Minimum length of 8 characters</li>
                    <li>Contains at least one lowercase letter</li>
                    <li>Contains at least one UPPERCASE letter</li>
                    <li>Contains at least 1 digit</li>
                    <li>Contains at least one special character. (e.g., !@#$%^&*)</li>
                </ul>
            </div>
        </div>
        <div>
            <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm new password</label>
            <div class="flex">
                <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••••••••••" class="rounded-l-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                <span id="password-view" class="cursor-pointer inline-flex hover:bg-gray-400 items-center px-3 text-sm text-gray-900 rounded-none rounded-r-lg bg-gray-200 border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                    <svg viewBox="0 0 24 24" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="3.5" stroke="currentColor"></circle> <path d="M20.188 10.9343C20.5762 11.4056 20.7703 11.6412 20.7703 12C20.7703 12.3588 20.5762 12.5944 20.188 13.0657C18.7679 14.7899 15.6357 18 12 18C8.36427 18 5.23206 14.7899 3.81197 13.0657C3.42381 12.5944 3.22973 12.3588 3.22973 12C3.22973 11.6412 3.42381 11.4056 3.81197 10.9343C5.23206 9.21014 8.36427 6 12 6C15.6357 6 18.7679 9.21014 20.188 10.9343Z" stroke="currentColor"></path> </g></svg>
                </span>
            </div>
        </div>
        <button id="submit-form" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Password</button>
        
    </form>
</section>


{% endblock %}

{% block script %}
    <script src="{% static "_Blog/script/dashboard/change_password.js" %}"></script>
{% endblock %}