{% extends "_Blog/dashboard/dashboard_layout.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} List Post {% endblock %}



{% block body %}

<!-- Start post search -->

<form action="{% url 'Blog:list_post' %}" method="POST">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        {% csrf_token %}
        <input type="search" name="query" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search title, category, description ..." required>
        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>

<!-- End post search -->

<!-- Start post listing -->
{% if page %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full min-w-64 overflow-x-auto text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Post Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Impression
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in page %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="flex items-center px-6 py-4">
                    {% if post.cover_photo %}
                        <img class="w-10 h-10" src="{{post.cover_photo.url}}" onerror="this.onerror=null;this.src='{% static "_Blog/image/cover_photo.svg" %}';" alt="{{post.title}}">
                    {% else %}
                        <img class="w-10 h-10" src="" data-post-cover="{{post.hash_id.time}}" alt="{{post.title}}">
                    {% endif %}
                    <div class="pl-3">
                        <div class="text-base font-semibold"><a href="{% url 'Blog:read_post' post.category.slug post.slug %}">{{post.title|slice:':250'}}</a></div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    {{ post.get_active_comment}}
                </td>
                <td class="px-6 py-4">
                    Last modified : {{post.date}}
                </td>
                <td class="px-6 py-4">
                    {% if post.status not in 'Published' and post.status not in 'Hot' %}
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> {{post.status}}
                        </div>
                    {% else %}
                        <div class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> {{post.status}} {% if post.is_deleted %} - Deleted {% endif %}
                        </div>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'Blog:edit_post' post.hash_id.hex %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit Post</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Start paginator -->
    <nav class="flex items-center mb-2 justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal ml-4 text-gray-500 dark:text-gray-400">
            Showing <span class="font-semibold text-gray-900 dark:text-white">{{ page.start_index }}-{% if page.end_index > page.paginator.count %}{{ page.paginator.count }}{% else %}{{ page.end_index }}{% endif %}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{ page.paginator.count }}</span></span>
        
        {% if page.has_other_pages %}
        <ul class="inline-flex items-center mb-2 mr-2 -space-x-px">
            {% if page.has_previous %}
            <li>
                <a href="?page={{page.previous_page_number}}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Previous</span>
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </li>
            {% endif %}
            {% for page_number in list_page %}
                {% if page_number == page.paginator.ELLIPSIS %}
                <li>
                    <a href="#" disabled class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page_number}}</a>
                </li>
                {% elif page_number == page.number %}
                    <li>
                        <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{page_number}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{page_number}}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page_number}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <li>
                <a href="?page={{page.next_page_number}}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Next</span>
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <!-- End paginator -->
</div>
{% else %}

<div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400" role="alert">
    <span class="font-medium">...</span> {% if query %} No search result found for the query! {% else %} You have not written any post yet. {% endif %}
</div>

{% endif %}
<!-- End post listing -->

{% endblock %}