{% load static %}
    <!-- suneditor -->
    <script src="{% static '_Blog/script/sun_editor/suneditor.min.js' %}"></script>
    <!-- codeMirror -->
    <script src="{% static '_Blog/script/sun_editor/codemirror.min.js' %}"></script>
    <script src="{% static '_Blog/script/sun_editor/htmlmixed.js' %}"></script>
    <script src="{% static '_Blog/script/sun_editor/xml.js' %}"></script>
    <script src="{% static '_Blog/script/sun_editor/css.js' %}"></script>
    <!-- KaTeX -->
    <script src="{% static '_Blog/script/sun_editor/katex.min.js' %}"></script>