{% extends "_Blog/dashboard/dashboard_layout.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block description %} This is DecSecBBS is the only blog the on the earth about technology {% endblock %}
{% block style %}
{% include "_Blog/dashboard/sun_editor_css.html" %}
{% endblock %}

{% block body %}
<!-- Heading -->
<h1 class="mb-4 mt-12 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Write Consciously.</h1>
<div class="flex p-4 border-t-4 border-sky-400 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Keep in mind before start writing!</span>
        <ul class="mt-1.5 ml-4 list-disc list-inside">
          <li>Stay on topic, avoid offensive language and respect copyright.</li>
          <li>Keep your content as details as possible & well explained.</li>
          <li>Do your own research & verify every sentence before publish.</li>
          {% if request.user.rank == 'Contributor' %}
          <li>After submitting your post for review you can't edit until review is done.</li>
          {% endif %}
          <li>Remember, only you are responsible for your voice.</li>
        </ul>
    </div>
</div>

<!-- Post handling notice -->
<div id="post_notice" class="no-target">
    <div id="alert-success" class="flex p-4 mb-4 text-green-800 hidden rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium" id="alert-success-msg">
        This is the success
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
    </div>
    <div id="alert-error" class="flex p-4 mb-4 text-red-800 hidden rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium" id="alert-error-msg">
        This is the error
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-error" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
    </div>
  </div>
<!-- End post handling notice -->

<!-- Post writing form start -->
<form id='post_form' action="{% url 'Blog:write_post'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Title -->
    <div class="mb-3">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title <span class="text-red-600">*</span></label>
        <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Post title the core of topic">
    </div>
    <!-- Description -->
    <div class="mb-3">
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description <span class="text-red-600">*</span></label>
        <textarea id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write a little summary of your post."></textarea>
    </div>
    {% if user.series.all %}
    <!-- Series -->
    <div class="mb-3">
        <label for="series" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Series</label>
        <select id="series" name="series" class="bg-gray-50 post-series border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="0" selected>Choose a series</option>
            {% for series in user.series.all %}
                <option value="{{series.hash_id.hex}}"><b>{{series.name}}</b></option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    <!-- Category -->
    <div class="mb-3">
        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category <span class="text-red-600">*</span></label>
        <select id="category" name="category" class="bg-gray-50 post-category border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="0" selected>Choose a Category</option>
            {% for cat in category %}
                <optgroup label="{{cat.name}}"></optgroup>
                {% for child in cat.get_family %}
                    <option value="{{child.hash_id.hex}}"><b>{{child.name}}</b></option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
    <!-- Cover photo -->
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="cover_photo">Cover photo <span class="text-red-600">*</span></label>
        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="cover_photo_help" id="cover_photo" name="cover_photo" type="file">
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="cover_photo_help">A cover picture is useful to identifiy your post & listing beautifully.( jpg,jpeg,png,gif )</div>
    </div>
    <!-- Content -->
    <div class="mb-3">
        <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content <span class="text-red-600">*</span></label>
        <textarea id="post_editor" name="content" rows="10" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Start writing."></textarea>
    </div>
    <!-- Tags -->
    <div class="mb-3">
        <label for="tags" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tags</label>
        <select id="tags" name="tags" multiple class="bg-gray-50 post-tags border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            {% for tag in tags %}
                <option value="{{tag.name}}">{{tag.name}}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Status -->    
    <div class="mb-3">
        <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
        <select id="status" name="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="Published">{% if request.user.rank == "Contributor" %} Submit for Review {% else %} Published {% endif %} </option>
            <option selected value="Draft">Draft</option>
        </select>
    </div>
    <button type="submit" name="sumit_post" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit Post</button>
</form>
<!-- Post writing form end -->
{% block script %}
{% include "_Blog/dashboard/sun_editor_js.html" %}
{% endblock %}
    <script src="{% static '_Blog/script/sun_editor/sun_editor_init.js' %}"></script>

{% endblock %}