{% extends "_Blog/client/home_layout.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} About us {% endblock %}
{% block description %}     Welcome to DevSecBBS! We are a collaborative platform where passionate writers and experts come together to share valuable insights and information. Our mission is to empower individuals by providing a diverse and inclusive space for knowledge exchange. With engaging content, expert contributors, and a vibrant community, we invite you to join us on this journey of learning, growth, and connection. Contact us for any inquiries or to contribute to our blog. Thank you for visiting DevSecBBS.
{% endblock %}

{% block body %}

<p class="mb-3 text-gray-500 dark:text-gray-400">
    Welcome to DevSecBBS! We are a collaborative platform where passionate writers and experts come together to share valuable insights and information. Our mission is to empower individuals by providing a diverse and inclusive space for knowledge exchange. With engaging content, expert contributors, and a vibrant community, we invite you to join us on this journey of learning, growth, and connection. Contact us for any inquiries or to contribute to our blog. Thank you for visiting DevSecBBS.
</p>

{% endblock %}