{% extends "_Blog/client/home_layout.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} Privacy Policy {% endblock %}
{% block description %}     Welcome to DevSecBBS! We are a collaborative platform where passionate writers and experts come together to share valuable insights and information. Our mission is to empower individuals by providing a diverse and inclusive space for knowledge exchange. With engaging content, expert contributors, and a vibrant community, we invite you to join us on this journey of learning, growth, and connection. Contact us for any inquiries or to contribute to our blog. Thank you for visiting DevSecBBS.
{% endblock %}

{% block body %}

<p class="mb-3 text-gray-500 dark:text-gray-400">
    At DevSecBBS, we take your privacy seriously. We collect and store personal information, such as your name and email address, only when voluntarily provided by you. This information is used to improve your experience on our blog and to communicate with you regarding updates and new content. We do not share your personal information with third parties unless required by law. We use cookies to enhance your browsing experience, but you can disable them in your browser settings if you prefer. We take appropriate measures to protect your personal information, but please note that no method of transmission over the internet is completely secure. By using DevSecBBS, you consent to the terms of this Privacy Policy.
</p>

{% endblock %}