{% extends "_Blog/client/home_layout.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} Home {% endblock %}
{% block description %} This is DecSecBBS is the only blog the on the earth about technology {% endblock %}
{% block style %}
    <!-- suneditor -->
    <link href="{% static '_Blog/style/sun_editor/suneditor.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% csrf_token %}
<!-- Start blog post -->
<main class="pt-8 pb-16 lg:pt-16 lg:pb-8 bg-white dark:bg-gray-900">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-screen-xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <!-- Author info -->
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        {% if post.author.profile_photo %}
                            <img class="mr-4 w-16 h-16 rounded-full" src="{{post.author.profile_photo.url}}" alt="{{post.author.first_name}} {{post.author.last_name}}">
                        {% else %}
                            <svg width="80" height="80" class="mr-4 w-16 h-16 jdenticon rounded-full border-2" data-jdenticon-value="{{post.author.username}}"></svg>
                        {% endif %}
                        <div>
                            {% if post.author.first_name or post.author.last_name %}
                                <a href="{% url 'Blog:user_profile' post.author.username %}" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">{{post.author.first_name}} {{post.author.last_name}}</a>
                            {% else %}
                            <a href="{% url 'Blog:user_profile' post.author.username %}" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">{{post.author.username}}</a>
                            {% endif %}
                            {% if post.author.rank == "Banned" %}
                            <span class="bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">{{post.author.rank}}</span>
                            {% elif not post.author.rank %}
                            {% else %}
                            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{post.author.rank}}</span>
                            {% endif %}
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">{% if post.author.bio %} {{post.author.bio}} {% endif %}</p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time>{% if post.date == post.last_modified %}{{post.date}} {% else %} Last Modified: {{post.last_modified}} {% endif %}</time></p>
                        </div>
                    </div>
                </address>
                <!-- End author info -->
                
                <!-- Category tree -->    
                <nav class="flex p-2" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                            <svg class="w-4 h-4 mr-2 dark:fill-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 16C15 15.2044 14.6839 14.4413 14.1213 13.8787C13.5587 13.3161 12.7957 13 12 13C11.2044 13 10.4413 13.3161 9.87868 13.8787C9.31607 14.4413 9 15.2043 9 16V20H4L4 10L8 6.5M12 3L20 10L20 20H15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            Home
                        </a>
                    </li>
                    {% for category in post.category.get_family|slice:":2" %}
                        <li>
                            <div class="flex items-center">
                            <svg class="w-4 h-4 mr-2 dark:fill-white" fill="#000000" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M20.49 16c-.13 0-.253.054-.344.146l-13 13c-.44.422.24 1.175.708.708l13-13c.31-.303.095-.854-.364-.854zM7.5 0c-.45 0-.664.543-.354.854l14 14c.448.447 1.16-.273.708-.708l-14-14C7.76.05 7.634 0 7.5 0z"></path></g></svg>
                            <a href="{% url 'Blog:category' category.slug %}" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{category}}</a>
                            </div>
                        </li>
                    {% endfor %}
                    {% if post.category.get_family|length > 2 %}
                        <li>
                            <div class="flex items-center">                    
                            <svg class="w-4 h-4 mr-2 dark:fill-white" fill="#000000" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M20.49 16c-.13 0-.253.054-.344.146l-13 13c-.44.422.24 1.175.708.708l13-13c.31-.303.095-.854-.364-.854zM7.5 0c-.45 0-.664.543-.354.854l14 14c.448.447 1.16-.273.708-.708l-14-14C7.76.05 7.634 0 7.5 0z"></path></g></svg>
                            <span>...</span>
                            <a href="{% url 'Blog:category' post.category.slug %}" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{post.category}}</a>
                            </div>
                        </li>
                    {% endif %}
                    </ol>
                </nav>
                <!-- End category tree -->
                
                <!-- Post loader -->
                <div id="post-loader">
                    <div class="flex animate-pulse items-center justify-center space-x-2">
                        <div class="h-8 w-8 rounded-full bg-green-800"></div>
                        <div class="h-8 w-8 rounded-full bg-green-600"></div>
                        <div class="h-8 w-8 rounded-full bg-green-400"></div>
                    </div>
                    <div class="flex animate-bounce items-center justify-center space-x-2">
                        <div class="h-8 w-8 rounded-full bg-green-400"></div>
                        <div class="h-8 w-8 rounded-full bg-green-600"></div>
                        <div class="h-8 w-8 rounded-full bg-green-800"></div>
                    </div>
                    <div class="text-center"><b class="m-2 p-2 font-serif text-2xl dark:text-white">Loading Post Content</b></div>
                </div>
                <!-- End post loader -->
                
                <!-- Post section -->
                {% csrf_token %}
                <h1 align="center" class="text-5xl font-extrabold dark:text-white mb-4">{{post.title}}</h1>
                    <article id="post" style="font-size:20px;" class="sun-editor-editable opacity-60 dark:bg-gray-900 dark:text-white" data-post="{% url 'Blog:fetch_post' post.hash_id.hex %}">
                        <!--Post content came here-->
                        {{post.content|html_trunc:0}}
                    </article>
                <!-- End post section -->
                <hr>
            </header>
        </article>
    </div>
    <!-- Comment section -->
    <section id="comment-section" class="bg-white no-target dark:bg-gray-900 py-4 lg:py-8">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between items-center mb-6">
              <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion {% if post.get_active_comment %} ({{post.get_active_comment}}) {% endif %}</h2>
            </div>
            <!-- Reply to -->
            <div id="reply-to"></div>
            <!-- End reply to -->
          <form class="mb-6" id="comment-form" action="{% url 'Blog:comment' post.hash_id.hex 0 %}" data-default-action='{% url 'Blog:comment' post.hash_id.hex 0 %}' method="POST">
                {% csrf_token %}
              <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                  <label for="comment" class="sr-only">Your comment</label>
                  <textarea id="comment" name="comment" maxlength="500" rows="6" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800" placeholder="Write your comment..." required></textarea>
              </div>
              <button type="submit" id="comment-submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                  Post comment
              </button>
          </form>
          {% if messages %}
          <!-- Comment handled notification -->
          <div id="feadback" class="no-target">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div id="success-{{forloop.counter}}" class="flex p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Info</span>
                        <div class="ml-3 text-sm font-medium">
                        {{message}}
                        </div>
                        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#success-{{forloop.counter}}" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                {% elif message.tags == 'error' %}
                    <div id="info-{{forloop.counter}}" class="flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Info</span>
                        <div class="ml-3 text-sm font-medium">
                        {{message}}
                        </div>
                        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#info-{{forloop.counter}}" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          <!-- End Comment handled notification -->

          <!-- Parent comment -->
          {% for comment in comment_page %}
            {% if comment.level == 0 and not comment.is_deleted %}
                <!-- Parent comment -->
                <div class="parent_comment-{{comment.hash_id.hex}} max-w-2xl mx-auto px-4" data-accordion="open">
                    <article id="comment-{{comment.hash_id.hex}}" data-commenter-name='{{comment.commenter.username}}' data-comment-url='{% url 'Blog:comment' post.hash_id.hex comment.hash_id.hex %}' class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                {% if comment.commenter.username %}
                                    {% if comment.commenter.profile_photo %}
                                        <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"><img class="mr-2 h-6 w-6 rounded-full" src="{{comment.commenter.profile_photo.url}}" alt="{{comment.commenter.username}}" /><a href="{% url 'Blog:user_profile' comment.commenter.username %}"> {{comment.commenter.username}} </a> </p>
                                    {% else %}
                                        <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"><svg class="mr-2 h-6 w-6 jdenticon rounded-full" data-jdenticon-value="{{comment.commenter.username}}"></svg> <a href="{% url 'Blog:user_profile' comment.commenter.username %}"> {{comment.commenter.username}} </a> </p>
                                    {% endif %}
                                {% else %}
                                    <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"><svg class="mr-2 h-6 jdenticon w-6 rounded-full" data-jdenticon-value="anonymouse"></svg>Anonymouse</p>
                                {% endif %}
                                <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="{{comment.date}}">{{comment.date}}</time></p>
                            </div>
                            <!-- User comment action button -->
                            <div class="left_of_comment">
                                {% if comment.get_descendants %}
                                    <button data-accordion-target="#nested_comment{{comment.hash_id.hex}}" aria-expanded="true" aria-controls="nested_comment{{comment.hash_id.hex}}" class="p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                        <svg data-accordion-icon class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="sr-only">Collapse comment</span>
                                    </button>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    {% if user == comment.commenter %}
                                        <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment{{comment.hash_id.hex}}" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                            </svg>
                                            <span class="sr-only">Comment settings</span>
                                        </button>
                                        <!-- Dropdown menu comment setting -->
                                        <div id="dropdownComment{{comment.hash_id.hex}}" class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
                                                <li>
                                                    <button data-article-comment="comment-{{comment.hash_id.hex}}" class="block py-2 edit-comment px-4 w-full text-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</button>
                                                </li>
                                                <li>
                                                    <form action="{% url 'Blog:comment' post.hash_id.hex comment.hash_id.hex %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type='hidden' name="comment_delete" value="true">
                                                        <button type='submit' class="block py-2 px-4 w-full text-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        <button id="dropdownReportButton" data-dropdown-toggle="dropdownReport" title='Report' class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                            <svg class="w-5 h-5 dark:fill-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g clip-path="url(#clip0_429_11107)"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 13.4876 3.36093 14.891 4 16.1272L3 21L7.8728 20C9.10904 20.6391 10.5124 21 12 21Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 12.001H15" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> <defs> <clipPath id="clip0_429_11107"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs> </g></svg>
                                            <span class="sr-only">Report</span>
                                        </button>
                                        <!-- Report section -->
                                        <div id="dropdownReport" class="hidden z-10 w-64 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                            <form class="mb-2" action="{% url 'Blog:comment' post.hash_id.hex comment.hash_id.hex %}" method="POST">
                                                <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                                                    <label for="comment" class="sr-only">Your report</label>
                                                    {% csrf_token %}
                                                    <textarea id="comment" rows="6" name="report"
                                                        class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                                                        placeholder="Write your complain against the comment." maxlength="255" required></textarea>
                                                </div>
                                                <button type="submit" class="inline-flex items-center px-4 py-2 ml-[50%] text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                                    Submit report
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <button id="dropdownReportButton" data-dropdown-toggle="dropdownReportAnon" title='Report' class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                        <svg class="w-5 h-5 dark:fill-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g clip-path="url(#clip0_429_11107)"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 13.4876 3.36093 14.891 4 16.1272L3 21L7.8728 20C9.10904 20.6391 10.5124 21 12 21Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 12.001H15" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> <defs> <clipPath id="clip0_429_11107"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs> </g></svg>
                                        <span class="sr-only">Report</span>
                                    </button>
                                    <!-- Report section -->
                                    <div id="dropdownReportAnon" class="hidden z-10 w-64 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                        <p class="p-2">You have to sign up to report the comment! <a href="#" class="text-blue-700">Sign up</a></P>
                                    </div>
                                {% endif %}
                            </div>
                        </footer>
                        <p id="comment-content" class="text-gray-500 dark:text-gray-400">{{comment.content}}</p>
                        <div class="flex items-center mt-4 space-x-4">
                            <button type="button" class="flex reply-comment items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                                <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                                Reply
                            </button>
                        </div>
                    </article>
                    
                    {% if comment.get_descendants %}
                        <div id="nested_comment{{comment.hash_id.hex}}" class="hidden">
                            <!-- Nested comment -->
                            {% for replier in comment.get_descendants %}
                                {% if not replier.is_deleted %}
                                    <article id="comment-{{replier.hash_id.hex}}" data-commenter-name='{{replier.commenter.username}}' data-comment-url='{% url 'Blog:comment' post.hash_id.hex replier.hash_id.hex %}' class="ml-12 rounded-lg bg-white p-2 text-base dark:bg-gray-900">
                                        <footer class="mb-2 flex items-center justify-between">
                                            <div class="flex items-center">
                                                {% if replier.commenter.username %}
                                                    {% if replier.commenter.profile_photo %}
                                                        <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"><img class="mr-2 h-6 w-6 rounded-full" src="{{replier.commenter.profile_photo.url}}" alt="{{replier.commenter.username}}"/> <a href="{% url 'Blog:user_profile' replier.commenter.username %}"> {{replier.commenter.username}} </a></p>
                                                    {% else %}
                                                        <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"><svg class="mr-2 h-6 jdenticon w-6 rounded-full" data-jdenticon-value="{{replier.commenter.username}}"></svg><a href="{% url 'Blog:user_profile' replier.commenter.username %}"> {{replier.commenter.username}} </a></p>
                                                    {% endif %}
                                                {% else %}
                                                    <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"><svg class="mr-2 h-6 jdenticon w-6 rounded-full" data-jdenticon-value="anonymouse}"></svg>Anonymouse</p>
                                                {% endif %}
                                                <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="{{replier.date}}">{{replier.date}}</time></p>
                                            </div>
                                            <!-- User comment action button -->
                                            {% if user.is_authenticated %}
                                                {% if user == replier.commenter %}
                                                <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment{{replier.hash_id.hex}}" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                                                        </path>
                                                    </svg>
                                                    <span class="sr-only">Comment settings</span>
                                                </button>
                                                <!-- Dropdown menu comment setting -->
                                                <div id="dropdownComment{{replier.hash_id.hex}}" class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                                        aria-labelledby="dropdownMenuIconHorizontalButton">
                                                        <li>
                                                            <button data-article-comment="comment-{{replier.hash_id.hex}}" class="block py-2 edit-comment px-4 w-full text-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</button>
                                                        </li>
                                                        <li>
                                                            <form action="{% url 'Blog:comment' post.hash_id.hex replier.hash_id.hex %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type='hidden' name="comment_delete" value="true">
                                                                <button type='submit' class="block py-2 px-4 w-full text-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                                {% else %}
                                                    <button id="dropdownReportButton" data-dropdown-toggle="dropdownReport" title='Report' class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                                        <svg class="w-5 h-5 dark:fill-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g clip-path="url(#clip0_429_11107)"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 13.4876 3.36093 14.891 4 16.1272L3 21L7.8728 20C9.10904 20.6391 10.5124 21 12 21Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 12.001H15" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> <defs> <clipPath id="clip0_429_11107"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs> </g></svg>
                                                        <span class="sr-only">Report</span>
                                                    </button>
                                                    <!-- Report section -->
                                                    <div id="dropdownReport" class="hidden z-10 w-64 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                                        <form class="mb-2" action="{% url 'Blog:comment' post.hash_id.hex replier.hash_id.hex %}" method="POST">
                                                            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                                                                <label for="comment" class="sr-only">Your report</label>
                                                                {% csrf_token %}
                                                                <textarea id="comment" rows="6" name="report"
                                                                    class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                                                                    placeholder="Write your complain against the comment." required></textarea>
                                                            </div>
                                                            <button type="submit" class="inline-flex items-center px-4 py-2 ml-[50%] text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                                                Submit report
                                                            </button>
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <button id="dropdownReportButton" data-dropdown-toggle="dropdownReportAnon" title='Report' class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600" type="button">
                                                    <svg class="w-5 h-5 dark:fill-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g clip-path="url(#clip0_429_11107)"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 13.4876 3.36093 14.891 4 16.1272L3 21L7.8728 20C9.10904 20.6391 10.5124 21 12 21Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 12.001H15" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> </g> <defs> <clipPath id="clip0_429_11107"> <rect width="24" height="24" fill="white"></rect> </clipPath> </defs> </g></svg>
                                                    <span class="sr-only">Report</span>
                                                </button>
                                                <!-- Report section -->
                                                <div id="dropdownReportAnon" class="hidden z-10 w-64 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                                    <p class="p-2">You have to sign up to report the comment! <a href="#" class="text-blue-700">Sign up</a></P>
                                                </div>
                                            {% endif %}
                                        </footer>
                                        <p id="comment-content" class="text-gray-500 dark:text-gray-400">@<a class="text-yellow-800" href=#comment-{{replier.parent.hash_id.hex}}>{{replier.parent.commenter.username}}</a>... {{replier.content}}</p>
                                        <div class="flex items-center mt-4 space-x-4">
                                            <button type="button" class="flex reply-comment items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                                                <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                                                Reply
                                            </button>
                                        </div>
                                    </article>
                                {% endif %}
                            {% endfor %}
                            <!-- End nested comment -->
                        </div>
                    {% endif %}
                </div>
                <!-- End parent comment -->
            {% endif %}
          {% empty %}
            <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400" role="alert">
                <span class="font-medium">...</span>There are have no comment yet.
            </div>
          {% endfor %}
            
            
          {% if comment_page.has_other_pages %}
            <!-- Comment pagination -->
            <div class="flex flex-col items-center">
                <!-- Help text -->
                <span class="text-sm text-gray-700 dark:text-gray-400">
                    Showing <span class="font-semibold text-gray-900 dark:text-white">{{comment_page.start_index}}</span> to <span class="font-semibold text-gray-900 dark:text-white">{% if comment_page.end_index > comment_page.paginator.count %} {{ comment_page.paginator.count }} {% else %} {{ comment_page.end_index }} {% endif %} </span> of <span class="font-semibold text-gray-900 dark:text-white">{{comment_page.paginator.count}}</span> Root Comment.
                </span>
                <div class="inline-flex mt-2 xs:mt-0">
                <!-- Buttons -->
                    {% if comment_page.has_previous %}
                        <a href="?comment_page={{comment_page.previous_page_number}}#comment-section" class="inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                            Previous
                        </a>
                    {% endif %}
                    {% if comment_page.has_next %}
                        <a href="?comment_page={{comment_page.next_page_number}}#comment-section" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            Next
                            <svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- End comment pagination -->
        {% endif %}
        </div>
    </section>
    <!-- End comment section -->
</main>

<aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Related articles</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-blue-600 dark:text-blue-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png" class="mb-5 rounded-lg" alt="Image 2">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Enterprise design tips</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-blue-600 dark:text-blue-500 hover:no-underline">
                    Read in 12 minutes
                </a>
            </article>
        </div>
    </div>
</aside>
<!-- End blog post -->
{% block script %}
    <script src="{% static "_Blog/script/client/read_post.js" %}"></script>
{% endblock %}

{% endblock %}