{% extends "_Blog/client/home_layout.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} Home {% endblock %}
{% block description %} This is DecSecBBS is the only blog the on the earth about technology {% endblock %}

{% block body %}
{% csrf_token %}

<div class="py-16 dark:bg-gray-800">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
          
        <!-- Start series tree -->    
        <nav class="flex p-2" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="{% url 'Blog:blog_index' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                  <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  Home
                </a>
            </li>
            <li>
                <div class="flex items-center">
                <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <a href="{% url 'Blog:tag' tag.slug %}" class="ml-1 text-sm flex items-center font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">  
                    <svg viewBox="0 0 16 16" class="w-3 h-3 mr-2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-382.000000, -7721.000000)" fill="currentColor"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M332,7571 L336,7571 L336,7567 L332,7567 L332,7571 Z M342,7567 L342,7565 L338,7565 L338,7561 L336,7561 L336,7565 L332,7565 L332,7561 L330,7561 L330,7565 L326,7565 L326,7567 L330,7567 L330,7571 L326,7571 L326,7573 L330,7573 L330,7577 L332,7577 L332,7573 L336,7573 L336,7577 L338,7577 L338,7573 L342,7573 L342,7571 L338,7571 L338,7567 L342,7567 Z" id="number_sign-[#110]"> </path> </g> </g> </g> </g></svg>
                    {{ tag.name }}
                </a>
                </div>
            </li>
            </ol>
        </nav>
        <!-- End series tree -->

        <!-- Start series head -->
        <div class='p-2 border-b shadow-lg dark:border-gray-700'>
          <h1 class="mb-4 text-4xl font-extrabold leading-none text-center tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"> #{{ tag.name }} </h1>
        </div>
        <!-- End series head -->

        <!-- Start post listing -->
        <div class="grid gap-8 lg:grid-cols-2">
            {% for post in page %}
              <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                  <div class="flex justify-between items-center mb-5 text-gray-500">
                      <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-800 dark:text-gray-400">
                          <svg class="mr-1 w-4 h-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="0" fill="none" width="20" height="20"></rect> <g> <path d="M5 7h13v10H2V4h7l2 2H4v9h1V7z"></path> </g> </g></svg>
                          {% if post.category.level > 1 %} {{post.category.get_root}} ... {{post.category}} {% elif post.category.is_root_node %} {{post.category}} {% elif post.category == None %} Not categorized {% else %} {{post.category.get_root}} >> {{post.category}} {% endif %}
                      </span>
                      <span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 dark:bg-gray-700 dark:text-gray-400">
                        <svg aria-hidden="true" class="w-3 h-3 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                        {{ post.date|timesince }} ago
                      </span>
                  </div>
                  <div class="mb-2 overflow-hidden rounded h-64 cursor-pointer">
                    <a href="{% if post.category %} {% url 'Blog:read_post' post.category.slug post.slug %} {% else %} {% url 'Blog:read_post' 'uncategorized' post.slug %} {% endif %}">
                      {% if post.cover_photo %}
                        <img class="m-auto w-full scale-110 transition-all duration-400 hover:scale-95" src="{% if post.cover_photo.url %} {{ post.cover_photo.url }} {% else %} {% static "_Blog/image/cover_photo.svg" %} {% endif %}" alt="{{post.title}}" onerror="this.onerror=null;this.src='{% static "_Blog/image/cover_photo.svg" %}';">
                      {% else %}
                        <img class="m-auto w-full scale-110 transition-all duration-400 hover:scale-95" src="" data-post-cover="{{post.hash_id.time}}" alt="{{post.title}}">
                      {% endif %}
                    </a>
                  </div>
                  <!-- Post title -->
                  <h2 class="mb-2 text-2xl font-bold tracking-tight whitespace-wrap overflow-hidden text-gray-900 dark:text-white"><a href="{% if post.category %} {% url 'Blog:read_post' post.category.slug post.slug %} {% else %} {% url 'Blog:read_post' 'uncategorized' post.slug %} {% endif %}">{{post.title|striptags}}
                    {% if post.status == 'Hot' %}
                        <span class="bg-blue-100 ml-2 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Hot Post</span>
                    {% endif %}
                  </a></h2>
                  <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                    {% if post.description %}
                      {{post.description|html_trunc:255}}
                    {% else %}
                      {{post.content|html_trunc:255}}
                    {% endif %}</p>
                  <div class="flex justify-between items-center">
                      <div class="flex items-center space-x-4">
                        {% if post.author.profile_photo %}
                            <img class="w-7 h-7 rounded-full" src="{{post.author.profile_photo.url}}" alt=" {% if post.author.first_name %} {{post.author.first_name}} {{post.author.last_name}} {% else %} {{ post.author.username }} {% endif %} " />
                        {% else %}
                            <svg width="80" height="80" class="w-7 h-7 rounded-full" data-jdenticon-value="{{post.author.username}}"></svg>
                        {% endif %}
                            <span class="font-medium dark:text-white">
                              {% if post.author.first_name %} {{post.author.first_name}} {{post.author.last_name}} {% else %} {{ post.author.username }} {% endif %} 
                          </span>
                      </div>
                        <a href="{% if post.category %} {% url 'Blog:read_post' post.category.slug post.slug %} {% else %} {% url 'Blog:read_post' 'uncategorized' post.slug %} {% endif %}" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Read in {{post.content|readtime}}ute
                            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </a>
                  </div>
              </article>  
            {% endfor %}              
        </div>  
        <!-- End post listing -->

        {% if page %}
        <!-- Post paginator -->
        <nav class="flex items-center mb-2 justify-between pt-4" aria-label="Table navigation">
          <span class="text-sm font-normal ml-4 text-gray-500 dark:text-gray-400">
              Showing <span class="font-semibold text-gray-900 dark:text-white">{{ page.start_index }}-{% if page.end_index > page.paginator.count %}{{ page.paginator.count }}{% else %}{{ page.end_index }}{% endif %}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{ page.paginator.count }}</span></span>
          
          {% if page.has_other_pages %}
          <ul class="inline-flex items-center mb-2 mr-2 -space-x-px">
              {% if page.has_previous %}
              <li>
                  <a href="?post-page={{page.previous_page_number}}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <span class="sr-only">Previous</span>
                      <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                  </a>
              </li>
              {% endif %}
              {% for page_number in list_page %}
                  {% if page_number == page.paginator.ELLIPSIS %}
                  <li>
                      <a href="#" disabled class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page_number}}</a>
                  </li>
                  {% elif page_number == page.number %}
                      <li>
                          <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{page_number}}</a>
                      </li>
                  {% else %}
                      <li>
                          <a href="?post-page={{page_number}}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page_number}}</a>
                      </li>
                  {% endif %}
              {% endfor %}
              {% if page.has_next %}
              <li>
                  <a href="?post-page={{page.next_page_number}}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <span class="sr-only">Next</span>
                      <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </a>
              </li>
              {% endif %}
          </ul>
          {% endif %}
        </nav>
        <!-- End post paginator -->
        {% endif %}
    </div>
</div>

{% endblock %}