{% extends "_Blog/client/home_layout.html" %}
{% load static %}
{% load blog_tags %}
{% block title %} Terms and Conditions {% endblock %}
{% block description %} By accessing and using DevSecBBS, you agree to comply with the following terms and conditions. The content on our blog is for informational purposes only and should not be considered as professional advice. {% endblock %}

{% block body %}
<p class="mb-3 text-gray-500 dark:text-gray-400">
By accessing and using DevSecBBS, you agree to comply with the following terms and conditions. The content on our blog is for informational purposes only and should not be considered as professional advice. We reserve the right to modify or remove any content without prior notice. Users are responsible for their own contributions and must not engage in any illegal or harmful activities. We respect intellectual property rights and expect users to do the same. We are not liable for any damages or losses incurred while using our blog. By using our site, you consent to our use of cookies. Please review our Privacy Policy for more information.
</p>
{% endblock %}