html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}
:not(.no-target):target {
    border: 2px solid #D4D4D4;
    background-color: ghostwhite;
    padding:5px;
    border-radius: 5px;
}

@font-face {
    font-family: 'Galada';
    src: url('_Blog/fonts/Galada.ttf') format('truetype');
  }